modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3001

[userenv]

[userenv.shared]
VITE_TELEGRAM_BOT_TOKEN = "8711796956:AAGCVxW99h189vyKzA7ThV2M9LlgUJAHYI8"
VITE_TELEGRAM_CHAT_ID = "1654337127"
VITE_FORMSPREE_URL = "https://formspree.io/f/xykbwvep"
